/* ******************************************
	Web Fonts
****************************************** */

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-bold.eot");
    src: url("/fonts/sqmarket-bold.eot?#iefix") format("eot"), url("/fonts/sqmarket-bold.woff") format("woff"), url("/fonts/sqmarket-bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-bold.eot");
    src: url("/fonts/sqmarket-bold.eot?#iefix") format("eot"), url("/fonts/sqmarket-bold.woff") format("woff"), url("/fonts/sqmarket-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-bolditalic.eot");
    src: url("/fonts/sqmarket-bolditalic.eot?#iefix") format("eot"), url("/fonts/sqmarket-bolditalic.woff") format("woff"), url("/fonts/sqmarket-bolditalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-bolditalic.eot");
    src: url("/fonts/sqmarket-bolditalic.eot?#iefix") format("eot"), url("/fonts/sqmarket-bolditalic.woff") format("woff"), url("/fonts/sqmarket-bolditalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-light.eot");
    src: url("/fonts/sqmarket-light.eot?#iefix") format("eot"), url("/fonts/sqmarket-light.woff") format("woff"), url("/fonts/sqmarket-light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-lightitalic.eot");
    src: url("/fonts/sqmarket-lightitalic.eot?#iefix") format("eot"), url("/fonts/sqmarket-lightitalic.woff") format("woff"), url("/fonts/sqmarket-lightitalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-medium.eot");
    src: url("/fonts/sqmarket-medium.eot?#iefix") format("eot"), url("/fonts/sqmarket-medium.woff") format("woff"), url("/fonts/sqmarket-medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-mediumitalic.eot");
    src: url("/fonts/sqmarket-mediumitalic.eot?#iefix") format("eot"), url("/fonts/sqmarket-mediumitalic.woff") format("woff"), url("/fonts/sqmarket-mediumitalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-regular.eot");
    src: url("/fonts/sqmarket-regular.eot?#iefix") format("eot"), url("/fonts/sqmarket-regular.woff") format("woff"), url("/fonts/sqmarket-regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-regular.eot");
    src: url("/fonts/sqmarket-regular.eot?#iefix") format("eot"), url("/fonts/sqmarket-regular.woff") format("woff"), url("/fonts/sqmarket-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-regularitalic.eot");
    src: url("/fonts/sqmarket-regularitalic.eot?#iefix") format("eot"), url("/fonts/sqmarket-regularitalic.woff") format("woff"), url("/fonts/sqmarket-regularitalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "SQMarket";
    src: url("/fonts/sqmarket-regularitalic.eot");
    src: url("/fonts/sqmarket-regularitalic.eot?#iefix") format("eot"), url("/fonts/sqmarket-regularitalic.woff") format("woff"), url("/fonts/sqmarket-regularitalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic
}
/* ****************************************** */


body {
    display: block;
    text-align: center;
    padding: 20px;
    background: #fff;
    *zoom: 1;
    color: #2d3c48;
    font: 14px "SQMarket", "Helvetica Neue", sans-serif;
    line-height: 20px;
    width: 100%;
    -webkit-font-smoothing: antialiased
    
}
body::after {
  content: "";
  background: url("Background - Site.png")no-repeat top center;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


p, h4, h5 {
    
    text-align: justify;
    margin: 30px;
}

h1 {
    color: black;
    font-size: 48px;
    margin: 10px;
}


h2 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 12px;
    padding: 0;
}

h4 {
    margin-bottom: 2px;
}

h4 + p {
    margin-top: 2px;
}

.red {
    color: orangered;
}

.blue {
    color: steelblue;
}